body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0a0a0a;
  color: white;
}

button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
